/* CSS styles */
body {
  margin: 0;
  padding: 0;
  background-color: #00172b;
}
html {
  margin: 0;
  padding: 0;
}

header {
  background-color: #00172b;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 3px 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 80px; /* Set the height to your desired fixed value */
}

.logo {
  height: auto;
  position: relative;
  top: 20px;
  padding: right;
  width: 220px;
}

.nav {
  display: flex;
  justify-content: center; /* Spread items evenly */
  margin: 0;
  padding: 0; /* Remove default padding */
}

.nav-item {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav a {
  color: white;
  font-size: 14.7px;
  position: relative;
  padding-left: 50px;
  text-decoration: none;
  left: -25px;
  top: -20px;

}

.nav-square {
  width: 90px;
  height: 90px;
  background-color: #00172b;
  position: absolute;
  top: -50px;
  margin: 0 auto; /* Center horizontally */
  z-index: -1; /* Move the square behind the text */
  transition: background-color 0.5s; /* Smooth transition */
}


.nav-item:hover .nav-square {
  background-color: #613bc1;
}

.account-circle {
  float: none;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0;
}

.shop-link {
  float: none;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.progressBar {
  background-color: #613bc1;
  height: 4px;
  width: 100%;
  position: fixed;
  top: 86px;
  z-index: 999;
}

.right-menus {
  position: relative;
  bottom: 40px;
}

.error-page {
  position: relative;
  color: white;
  align-content: center;
  text-align: center;
  margin-top: 200px; /* Adjust as needed */
  font-family: 'Trebuchet MS', sans-serif;
}

.error-page h1 {
  mix-blend-mode: difference;
  font-size: 112px;
  margin-bottom: 10px;
}

.error-page h3 {
  mix-blend-mode: difference;
  font-size: 24px;
  margin-bottom: 20px;
}

.error-page p {
  font-size: 16px;
  mix-blend-mode: difference;
  margin-bottom: 30px;
}

.error-page::before {
  content: '';
  position: absolute;
  top: -92%; /* Adjust as needed */
  right: 0;
  width: 0;
  height: 0;
  border-top: 0vh solid transparent;
  border-bottom: 100vh solid transparent;
  border-right: 120vw solid white;
}